@import "./variables";
@import "mixins";

@font-face {
  font-family: "Barlow";
  src: url(/style/font/Barlow-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Fraunces";
  src: url(/style/font/Fraunces-Regular.ttf) format("truetype");
}

.header__wrapper {
  background-image: url("/images/desktop/image-header.jpg");
  height: 95vh;
  background-position: center;
  background-size: cover;

  .header__logo {
    display: flex;
    padding: 1.1rem 1.389rem;
    justify-content: space-between;
    align-items: center;
    // HEADER MENU
    .header__hamburger_menu {
      width: 40px;
      height: 40px;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(lg) {
        display: none;
      }

      .length {
        width: 100%;
        height: 5px;
        background-color: red;
      }
    }

    .header__tag {
      font-size: 1rem;
      text-transform: lowercase;
      font-family: "Barlow";
      font-weight: 600;
    }

    .header__links {
      width: 30%;
      display: none;

      @include breakpoint(lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
      }

      a {
        text-align: center;
        width: 25%;
        padding: 1.2rem 0.833rem;
        margin-right: 0.833rem;
        text-decoration: none;
        color: $White;
        transition: background-color 150ms ease-in;

        &:hover {
          color: $VeryDarkDesaturatedBlue;
          background-color: $White;
          border-radius: 16.667rem;
        }
      }
    }
  }

  .header__title {
    text-align: center;
  }
}
