// @import 'https://fonts.google.com/specimen/Barlow';
// @import 'https://fonts.google.com/specimen/Fraunces';
// FONT WEIGHT
$fontweightNormal: 600;
$fontweightHigh: 700;
$fontweightBold: 900;

// FONT FAMILY
// $fontFamilyBarlow: ;
// $fontFamilyFraunces: 'Fraunces';


$bgColor: aqua;
$White: hsl(0, 0%, 100%);
$DarkGrayisBlue: hsl(232, 10%, 55%);
$DarkBlue: hsl(198, 62%, 26%); //  (photography text)
$GrayishBlue: hsl(210, 4%, 67%);
$SoftRed: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$DarkDesaturatedCyan: hsl(167, 40%, 24%); //  (graphic design text)

$DarkModerateCyan: hsl(168, 34%, 41%); // (footer)
$VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%)


